@import '../../styles/helpers';

.pagination {
    $this: &;

    display: flex;

    &__bullet {
        width: 10px;
        height: 10px;
        margin: 0 $spacing--xsmall;
        border-radius: 50%;
        opacity: 0.3;
        background-color: $color-light;

        &--active {
            opacity: 0.8;
        }
    }
}
