@import '../../styles/helpers';

.pagination {
    $this: &;

    display: flex;

    &__bullet {
        width: 10px;
        height: 10px;
        margin: 0 $spacing--xsmall;
        border-radius: 50%;
        background-color: color(neutral);

        &--active,
        &:hover {
            background-color: color(neutral, dark);
        }
    }
}
