@import '../../styles/helpers';

.tool {
    $this: &;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    // scroll-snap-points-x: repeat(100%);
    // scroll-snap-type: mandatory;
    // scroll-snap-destination: 0% 100%;


    &__content {
        position: relative;
        z-index: 2;
        display: flex;
        transform: scale(0.8);

        &:after {
            content: '';
            width: $spacing / 2;
            flex-shrink: 0;
        }
    }

    &__item {

        &:not(:last-child) {
            margin-right: $spacing--small;
        }
    }

    &__add-new {
        @include font-size(large);
        align-self: center;
        width: 13vw;
        height: 13vw;
        flex-shrink: 0;
        margin: $spacing;
        color: $color-light;
        background-color: rgba(color(neutral, xdark), 0.5);
    }

    &--focus {
        overflow-x: hidden;
    }
}
