@import '../../styles/helpers';

.tool {
    $this: &;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    // scroll-snap-points-x: repeat(100%);
    // scroll-snap-type: mandatory;
    // scroll-snap-destination: 0% 100%;

    &__content {
        position: relative;
        z-index: 2;
        display: flex;
        transform: scale(0.8);
        // transform: scale(0.7);

        &:after {
            content: '';
            width: $spacing / 2;
            flex-shrink: 0;
        }
    }

    &__item {
        &:not(:last-child) {
            margin-right: $spacing--small;
        }
    }

    &__add-new {
        @include font-size(large);
        align-self: center;
        width: 13vw;
        height: 13vw;
        flex-shrink: 0;
        margin: $spacing;
        border: $border-width--medium dashed color(neutral, dark);

        &:hover,
        &:focus {
            border: $border-width--medium solid color(neutral, dark);
        }
    }

    &--focus {
        overflow-x: hidden;
    }

    // &--grid {
    //     overflow: hidden;
    //
    //     #{$this}__content {
    //         display: grid;
    //         width: 100vw;
    //         grid-template-columns: repeat(4, 1fr);
    //         grid-template-rows: repeat(4, 1fr);
    //         transform: none;
    //     }
    //
    //     .section {
    //         width: auto;
    //         height: auto;
    //     }
    // }
}
