@import '../../styles/helpers';

.slot-machine {
  padding: $spacing;
  background-color: #aaa;

  &__frame {
    display: flex;
    justify-content: space-between;
    padding: $spacing;
  }

  &__bar-window {
    position: relative;
    width: 30%;
    text-align: center;
    height: 300px;
    border: 1px #000 solid;
    overflow: hidden;
    background-color: red;

    &:nth-of-type(2) {
      background-color: yellow;
    }

    &:nth-of-type(3) {
      background-color: purple;
    }
  }

  &__bar {
    position: absolute;
    width: 100%;
    height: 2000px;
  }

  &__bar-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
  }

  &__action {
    display: flex;
    margin: 0 auto;
    color: white;
    background-color: red;
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }
}
