@import '../../styles/helpers';

.input {
    $this: &;

    border: 0;
    line-height: 0.8;
    background-color: transparent;
    outline: 0;
    border-bottom: $border-width--medium solid transparent;
    max-width: 100%;

    &:focus {
        border-color: color(primary, dark);
    }
}
