@import '../../styles/helpers';

.input {
    $this: &;

    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    border: 0;
    line-height: 0.8;
    background-color: transparent;
    outline: 0;
    border-bottom: $border-width--medium solid transparent;
    min-width: 75px;
    max-width: 100%;

    &:focus,
    &:invalid {
        border-color: color(neutral, dark);
    }
}
