@import '../../styles/helpers';

.new-section {
    $this: &;

    display: flex;
    flex-direction: column;

    &__option {
        @include font-size(medium);
        text-align: left;
        padding: $spacing + $spacing--small;
        padding-left: 0;
        padding-right: $spacing--large * 2;
        border-bottom: $border-width--medium solid color(neutral, dark);

        &:first-child {
            border-top: $border-width--medium solid color(neutral, dark);
        }
    }
}
