@import '../../styles/helpers';

.toolbar {
    $this: &;

    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 3.5vh;
    left: calc(50% - 100px);
    width: 200px;

    &__fullscreen {
        margin-right: -($spacing + 23px);
        margin-left: $spacing;
        color: $color-light;
        opacity: 0.5;

        &:hover,
        &:focus {
            opacity: 1;
        }
    }

    &__stroke {
        fill: none;
        stroke: currentColor;
        stroke-width: 2;
        stroke-miterlimit: 10;
    }
}
