@import '../../styles/helpers';

.toolbar {
    $this: &;

    display: flex;
    position: fixed;
    bottom: 3.5vh;
    left: 10vw;
    width: 80vw;
    background-color: rgba(color(neutral, xdark), 0.5);

    &__fullscreen {
      color: $color-light;
    }
}
