@import '../../styles/helpers';

.sliders {
    $this: &;

    display: flex;
    flex-direction: column;
    // align-items: center;

    &__list {
        display: grid;
        grid-template-columns: 0.5fr 1fr 0.5fr;
        grid-column-gap: $spacing--medium;
        grid-row-gap: $spacing;
        align-items: center;
        min-width: 80%;
    }

    &__add-new {
        @include font(base, bold);
        align-self: center;
        width: 24px;
        height: 24px;
        margin-top: $spacing--large;

        &:before {
            content: '+';
        }
    }

    &__value {
        &--from {
            text-align: right;
        }

        &--to {
            position: relative;
        }
    }

    &__slider-wrapper {
        position: relative;
        min-width: 40vw;
        height: 60px;
    }

    &__indicator {
        position: absolute;
        top: calc(50% - 7px);
        height: 18px;
        width: $border-width--medium;
        background-color: color(neutral, dark);

        &:nth-child(1) {
            left: 0;
        }

        &:nth-child(2) {
            left: 50%;
        }

        &:nth-child(3) {
            right: -2px;
        }
    }

    &__slider {
        position: absolute;
        z-index: 2;
        appearance: none;
        width: 100%;
        top: calc(50% - #{$border-width--medium / 2});
        height: $border-width--medium;
        background-color: color(neutral, dark);
        outline: none;

        &::-webkit-slider-thumb {
            appearance: none;
            width: calc(1vw + 22px);
            height: calc(1vw + 22px);
            cursor: pointer;
            border-radius: 50%;
            background-color: color(neutral, light);
        }

        &::-moz-range-thumb {
            appearance: none;
            width: $unit * 5;
            height: $unit * 5;
            cursor: pointer;
            border-radius: 50%;
            background-color: color(neutral, light);
        }
    }

    &:hover {
        #{$this}__delete {
            opacity: 0.3;
        }
    }

    &__delete {
        opacity: 0;

        position: absolute;
        top: calc(50% - 1px);
        right: 0;
        transform: translateY(-50%);

        &:before {
            display: block;
            content: '+';
            transform: rotate(45deg);
        }

        &:hover,
        &:focus {
            &#{$this}__delete {
                opacity: 1;
            }
        }
    }
}
