@import '../../styles/helpers';

.plot {
    $this: &;

    position: relative;
    width: 100%;
    height: calc(90vh - 180px);
    min-height: 400px;

    @include min-width(md) {
        width: 80vw;
    }

    &__add-new {
        @include font(base, bold);
        position: absolute;
        bottom: 0;
        right: 0;
    }

    &__x {
        position: absolute;
        display: flex;
        align-items: center;
        top: calc(50% - 1px);
        width: 100%;
        height: 2px;
    }

    &__x-axis {
        flex-grow: 2;
        width: 100%;
        height: $border-width--medium;
        background-color: color(primary, dark);
    }

    &__y {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 0;
        left: calc(50% - 1px);
        height: 100%;
        width: 2px;
    }

    &__y-axis {
        flex-grow: 2;
        height: 100%;
        width: $border-width--medium;
        background-color: color(primary, dark);
    }

    &__input {
        min-width: 40px;

        &--y {
            text-align: center;
        }

        &--small {
            min-width: 45px;
        }

        &:focus ~ #{$this}__delete {
            opacity: 1;
        }
    }

    &__item {
        @include font-size(small);
        position: absolute;
        display: flex;
        align-items: center;
        height: $unit * 5;
        margin-top: -($unit * 2.5);
        margin-left: -($unit * 2.5);
        padding-right: $unit * 4;

        &:hover {
            #{$this}__delete {
                opacity: 1;
            }
        }

        &--swap {
            // TODO...
        }
    }

    &__drag-handle {
        cursor: grab;
        width: $unit * 4;
        height: $unit * 4;
        margin-right: $spacing--small;
        border-radius: 50%;
        background-color: color(primary, dark);

        &:active {
            cursor: grabbing;
        }
    }

    &__delete {
        opacity: 0;

        position: absolute;
        top: calc(50% - 1px);
        right: 0;
        transform: translateY(-50%);

        &:before {
            display: block;
            content: '+';
            transform: rotate(45deg);
        }
    }
}
