h1,
h2,
h3 {
    // @include hyphens;
    @include font(header, bold);
    margin: 0;
    margin-bottom: 1em;
}

h1 {
    @include font-size(large);
}

h2 {
    @include font-size(large);
}

h3 {
    @include font-size(medium);
}

// Paragraph
p {
    @include font(base, normal);
    margin-bottom: $spacing;
    // max-width: 65ch;
}


// Strong / Bold
strong,
b {
    @include font(base, bold);
}

em {
    // @include font(base, bold);
    color: $color-muted;
}
