@import '../../styles/helpers';

.home {
    $this: &;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    &__content {
        padding: $spacing;
        background-color: color(primary);
    }

    &__input {
        display: block;
        width: 100%;
        padding: $spacing--small;
    }
}
