$color-primary: #F5D664;
$color-secondary: #0092c2;

$colors: (
    primary: (
        base: $color-primary,
        light: tint($color-primary, 5%),
        xlight: tint($color-primary, 10%),
        xxlight: tint($color-primary, 15%),
        xxxlight: tint($color-primary, 20%),
        xxxxlight: tint($color-primary, 25%),
    ),
    neutral: (
        light: #fff,
        base: #424147,
        dark: #25262D,
        xdark: #000,
    )
);

$color-light: #fff;
$color-dark: color(neutral, xdark);

// Specific colors.
// Variables are there to be reused, so being to specific or creating to many will create the opposite situation
$color-warning: #b20e10;
$color-background: color(neutral, dark);
$color-text: $color-dark;
$color-muted: color(neutral, dark);
$color-links: $color-text;
$color-links--hover: shade($color-text, 10%);
