$fonts: (
    base: (
        font: 'Montserrat',
        fallback: sans-serif,
        normal: 400,
        medium: 500,
        bold: 700,
    ),
    header: (
        font: 'Rozha One',
        fallback: sans-serif,
        normal: 400,
        bold: 400,
    ),
);

$font-size: (
    small: (
        base: (calc(15px + 0.5vw), 1.2),
    ),
    base: (
        base: (calc(16px + 1vw), 1.4),
    ),
    medium: (
        base: (calc(24px + 1.2vw), 1.2),
    ),
    large: (
        base: (calc(26px + 3.2vw), 1.1),
        xl: (62px, 1.1),
    ),
);
