@import '../../styles/helpers';

.timeline {
    $this: &;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: $spacing;
    width: 100%;

    @include min-width(md) {
        flex-direction: row;
        width: 80vw;
    }

    &__list {
        position: relative;
        display: flex;
        width: calc(100% - 24px);

        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 15px;
            height: 20px;
            width: $border-width--medium;
            background-color: color(neutral, dark);
        }

        &:after {
            right: 0;
        }
    }

    &__input {
        @include font(header, bold);
        @include font-size(medium);
        position: relative;
        text-align: center;
        min-width: 1ch;
        padding-left: $spacing--small;
        padding-right: $spacing--small;
        margin: 0 auto $spacing--medium;
        background-color: color(type, timeline);
    }

    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        &:before {
            content: '';
            position: absolute;
            top: 24px;
            left: 0;
            height: $border-width--medium;
            width: 100%;
            background-color: color(neutral, dark);
        }

        &:hover {
            #{$this}__delete {
                opacity: 1;
            }
        }
    }

    &__textarea {
        &.textarea {
            text-align: center;
            width: calc(100% - #{$border-width});

            &:invalid,
            &:focus {
                background-color: rgba(white, 0.15);
                border-color: transparent;
            }
        }
    }

    &__add-new {
        @include font(base, bold);
        margin-top: $spacing;
        margin-left: $spacing--small;
        font-size: 1.1em;

        @include min-width(md) {
            margin-top: 3px;
            align-self: flex-start;
        }
    }

    &__textarea,
    &__input {
        &:focus ~ #{$this}__delete {
            opacity: 1;
        }
    }

    &__delete {
        margin-top: $spacing--medium;
        opacity: 0;

        &:hover,
        &:focus {
            opacity: 1;
        }

        &:before {
            display: block;
            content: '+';
            transform: rotate(45deg);
        }
    }
}
